.tasks-column {
    min-width: 22rem;
    max-width: 22rem;
}

@media (min-width: 480px) {
    .tasks-column {
        min-width: 25rem;
        max-width: 25rem;
    }
}

.task-text-description p {
    --max-line: 3;
    --line-height: 1.4;
    position: relative;
    max-height: calc(var(--max-line) * 1em * var(--line-height));
    line-height: var(--line-height);
    word-wrap: break-word;
    overflow: hidden;
}

.task-text-description p:has(+.expnd-btn:not(:checked)):before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, #4D63EE);
}

.expnd-btn {
    appearance: none;
    height: 0;
    width: 4rem !important;
    color: white !important;
    background-color: transparent !important;
    border: none;
    vertical-align: unset;
}

.expnd-btn::before {
    content: "See More";
}

input[type="checkbox"]:checked {
    background-image: none;
}
input[type="checkbox"]:focus {
    outline: none !important;
}
.expnd-btn:checked::before {
    content: "See Less";
}

.task-text-description p:has(+ .expnd-btn:checked) {
    max-height: none;
}

/* draggable class */
.draggable {
    cursor: move !important;
}